*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  transition:
    color 10ms linear,
    backgroundColor 10ms linear;
}

:where(html, body, #app, main) {
  height: 100%;
}

.active {
  display: block;
  background-color: #898fce;
}
